.home-container {
    display: inline-flex;
    margin: 53px 15% 0 15%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 86px;
}

.header {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 70px;
}

.top-left-image {
    display: flex;
    align-items: flex-end;
    gap: 12px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.text-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.subtitle-container {
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title-container {
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.swiper-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    row-gap: 60px;
}
  
.swiper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    box-sizing: border-box;
    row-gap: 20px;
}

h1{
    background: linear-gradient(90deg, #1523C4 0%, #0584BD 62.23%, #08D98E 123.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}