.imgs-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    gap: 20px;
}

.imgs-container>img {
    height: 500px;
    width: auto;
    max-width: 100%;
}