.links-container {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-bottom: 50px;
}

.links-container a {
    display: grid;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: space-between;
    text-decoration: none;
}

.links-container img {
    width: 100%;
    height: auto;
}

.links-container h2{
    font-size: 15px;
    text-align: center;
}