.links-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    align-items: center;
    align-items: stretch;
    margin-bottom: 20px;
}

.links-container > a {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.links-container img {
    max-width: 100%;
}

.links-container h2 {
    font-size: 15px;
}

@media (max-width:800px) {
    .links-container h2 {
        font-size: 10px;
    }
} 