.links-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    max-width: 100%;
    gap: 20px;
    white-space: nowrap;
}

.links-container a {
    display: inline-block;
    width: 10%;
    height: auto;
}

.links-container img {
    width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    .links-container a {
        width: 15%;
    }
}

@media (max-width: 800px) {
    .links-container{
        gap: 10px;
    }
    .links-container a {
        width: 20%;
    }
}